# IDE's
.vscode
*.code-workspace
.venv

# generel cpp
*.o
*.d

# Latex
*.log
*.aux
*.nav
*.out
*.snm
*.toc
*.vrb
*.synctex.gz

# project
proj/labeler

# uebung
ue/ue1/mergesort*
ue/ue1/results.txt

Vorlesung/
